[submodule ".dotfiles/shell"]
	path = .dotfiles/shell
	url = https://github.com/rezonanc/df-shell.git
[submodule ".dotfiles/powerline"]
	path = .dotfiles/powerline
	url = https://github.com/rezonanc/df-powerline.git
[submodule ".dotfiles/powerline-config"]
	path = .dotfiles/powerline-config
    url = https://github.com/rezonanc/df-powerline-config.git
